<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingri.future.airfresh">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LockTest"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent"></activity>

        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ModeSettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.DetailParaActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.ChirldLockActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"

            android:theme="@style/Transparent"></activity>
        <activity
            android:name=".activity.ChirldLockActivityEx"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent"></activity>
        <activity
            android:name=".activity.ShutDownActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            ></activity>

        <activity
            android:name=".activity.TestUpdataActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.BlackActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.BlackActivityEx"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"></activity>

        <service android:name="com.mingri.future.airfresh.service.SerialReceSendService" />
        <service android:name="com.mingri.future.airfresh.service.GizSendRecvService" />
        <service android:name="com.mingri.future.airfresh.service.LightControlService" />
        <service android:name="com.mingri.future.airfresh.service.LWCalculateService" />


        <meta-data
            android:name="PGYER_APPID"
            android:value="9a0113b449ef02434014c7b4c51b51af"></meta-data>
    </application>


</manifest>